{% extends 'base/site.html' %}
{% block title %}
	{{app.name}}
	{{app.version}}
{% endblock %}
{% block page %}
<h1 class="page-header"><i class="fas fa-paint-brush fa-fw"></i> Art Gallery - {{server.name|title}}</h1>
<div id="main">
</div>

{% endblock %}

{% block script %}
	<script src="/assets/js/artGallery.js?{{app.version}}"></script>
{% endblock %}
