<div class="md:flex items-center justify-between mt-4">
	<a href="{{url_for('library')}}" class="font-extrabold tracking-wide uppercase transition hover:text-gray-500 duration-700 ease-in-out text-xl md:text-2xl xl:text-4xl">
		<i class="fas fa-book text-yellow-400"></i>
		The Library</a>
</div>
<hr class="border-gray-300 dark:border-gray-700 my-4">
