<hr class="border-t border-gray-300">
<div class="rounded border border-gray-300 p-4 w-1/2">
  <h2 class="border-b border-gray-300 pb-2 mb-4 font-bold">Moderation Station</h2>
  <form class="form" action="" method="POST">
    <textarea name="reason" rows="6" class="w-full block mb-4" required="required"></textarea>
    <button class="btn btn-success" name="report" value="1">Report book</button>
    {% if book.deleted %}
    <button class="btn btn-danger" name="delete" value="1">Undelete book</button>
    {% else %}
    <button class="btn btn-danger" name="delete" value="1">Delete book</button>
    {% endif %}
  </form>

</div>