{% set wide = true %}
{% extends 'base/site.html' %}
{% block title %}
	{{app.name}}
	{{app.version}}
{% endblock %}
{% block meta %}{% endblock %}
{% block page %}
	<p class="text-center text-4xl text-gray-300 font-black uppercase">« Loading »</p>
{% endblock %}

{% block script %}
	<script src="/assets/js/ticketfeed/feed.js?{{app.version}}"></script>
{% endblock %}
