{% extends 'base/site.html' %}
{% block page %}
	<div class="border-b-2 border-gray-200 text-2xl py-4 mb-4">Showing {{bans|length}} public bans
	</div>
		{% set url = 'tgdb.ban' %}
		{% for ban in bans %}
			{% include 'bans/components/listing.twig' %}
		{% endfor %}
{% endblock %}
