{% extends 'base/site.html' %}
{% block page %}
	<div class="border-b border-gray-200 text-2xl py-4 mb-4">Showing {{bans|length}} bans for {{ckey}}
	</div>
		{% set url = 'tgdb.ban' %}
		{% for ban in bans %}
			{% include 'bans/components/listing.twig' %}
			{% else %}
			<p class="text-gray-500 text-center">« No Bans! 🎉 »</p>
		{% endfor %}
{% endblock %}
