<div class="md:flex items-center justify-between mt-4">
	<a href="{{url_for('infobus')}}" class="font-extrabold tracking-wide uppercase transition hover:text-gray-500 duration-700 ease-in-out text-xl md:text-2xl xl:text-4xl">
		<i class="fas fa-info-circle text-blue-800"></i>
		Infobus</a>
	<nav class="text-lg font-bold">
		<a href="{{url_for('adminwho')}}" class="link md:pl-3">Admin Roster</a>
		<a href="{{url_for('adminlogs')}}" class="link md:pl-3">Admin Rank Logs</a>
	</nav>
</div>
<hr class="border-gray-300 my-4">
