{% extends 'base/site.html' %}
{% block page %}
	<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
		<a href="{{url_for('adminwho')}}" class="big-nav-btn">
			<span class="title">
				<i class="fas fa-user-shield text-pink-800"></i>
				Admin Roster
			</span>
		</a>
		<a href="{{url_for('adminlogs')}}" class="big-nav-btn">
			<span class="title">
				<i class="fas fa-user-plus text-indigo-800"></i>
				Admin Rank Logs
			</span>
		</a>
		<a href="{{url_for('serverpop')}}" class="big-nav-btn">
			<span class="title">
				<i class="fas fa-users text-green-800"></i>
				Server Population
			</span>
		</a>
	</div>
{% endblock %}
