  <div id="secret_message_note" class="hidden">
    <strong class="font-bold text-xl"><i class="fas fa-fw fa-exclamation-triangle text-yellow-300"></i> Secret Note</strong>
    <hr class="mb-2">
    This note is secret, and should not be shared with, or disclosed to non-admins
  </div>