<script
  src="https://cdnjs.cloudflare.com/ajax/libs/tarekraafat-autocomplete.js/8.3.2/js/autoComplete.min.js"
  integrity="sha512-Hd2YN8gzNjW87bKpQSn1LYtLaVdR5CKc0y4rrUWx+x90kYymhefwlJgWj24mSy4gH0LlQw9FQG2pwXczMJRmHQ=="
  crossorigin="anonymous"
></script>
<script>
  // autoComplete.js input eventListener for search results event
  document.querySelector("#autoComplete");
  const test = "autoComplete_selected";
  // The autoComplete.js Engine instance creator
  const autoCompleteJS = new autoComplete({
    name: "ckey search",
    data: {
      src: async () => {
        const query = document.querySelector("#autoComplete").value;
        const source = await fetch(`{{url_for('ckeysuggest')}}`, {
          method: "post",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            ckey: document.querySelector("#autoComplete").value,
          }),
        });
        const data = await source.json();
        return data.ckeys;
      },
      key: ["ckey"],
      cache: false,
    },
    trigger: {
      event: ["input", "focus"],
    },
    highlight: true,
    resultsList: {
      destination: "#autoComplete",
      position: "afterend",
      element: "ul",
      className:
        "autoComplete_list border border-gray-300 dark:border-gray-700 t-1 absolute bg-white dark:bg-gray-800 dark:text-white",
    },
    resultItem: {
      className: "autoComplete_result p-3 font-bold",
    },
    onSelection: (feedback) => {
      document.querySelector("#autoComplete").blur();
      const selection = feedback.selection.value[feedback.selection.key];
      document.querySelector("#autoComplete").value = selection;
      window.location =
        "/tgdb/player/" + document.querySelector("#autoComplete").value;
    },
  });
</script>
