<div class="bg-gray-50 p-2 inline-block text-xs border-b border-l border-r border-gray-300 dark:border-gray-700 dark:bg-gray-800 rounded-b">
	<form action="{{url_for('ckeysuggest')}}" method="POST" id="ckeySuggest">
		<input type="text" class="rounded border border-gray-300 dark:border-gray-700 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 py-1 px-2 leading-none text-sm dark:bg-gray-900 autocomplete" placeholder="ckey" name="ckey" id="autoComplete" tabindex="1">
	</form>
</div>
{% include 'tgdb/components/ckey_search.html' %}
