<header class="px-4 md:px-0 text-gray-800">
  <div class="container mx-auto flex items-center justify-between py-3  max-w-screen-md">
    <span class="font-extrabold text-4xl tracking-wide uppercase" id="nav_branding">
      <a href="{{url_for('home')}}" class="transition hover:text-gray-500 duration-700 ease-in-out">
        <span class="material-icons text-yellow-700">
        gavel
        </span>
        {{app.name}}</a>
    </span>
    <nav class="text-lg font-bold">
      {% if modules.public_bans %}
        <a href="{{url_for('bans')}}" class="transition duration-700 ease-in-out hover:text-gray-500 p-3">Public Bans</a>
      {% endif %}
      {% if modules.personal_bans and user%}
        <a href="{{url_for('mybans')}}" class="transition duration-700 ease-in-out hover:text-gray-500 p-3">Your Bans</a>
      {% endif %}
    </nav>
  </div>
</header>