{% from 'macros/macros.twig' import userBadge %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{{base_path()}}/assets/css/style.css?v={{app.version}}"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />
    <title>{% block title %}{{app.name}} - {{app.version}}{% endblock %}</title>
  </head>
  <body class="font-sans">
    <header>
      <div class="container mx-auto px-4">
      {% if '' != (current_url()|split('/')[1]) %}
        <a href="{{url_for('home')}}" class="link py-2 px-4 text-sm bg-gray-50 border-b border-l border-r border-gray-300 rounded-b">
        <i class="fas fa-home"></i>
        {{app.name}}</a>
        {% endif %}
        {% include 'base/components/messages.twig' %}
        {% include
        [current_url()|split('/')[1] ~ '/header.twig', 'base/header.twig'] %}
      </div>
    </header>
    <main id="main" class="container mx-auto px-4">
      {% block page %}No content defined for this block{% endblock %}
    </main>
    <footer class="container mx-auto px-4 pb-4">
      <hr class="my-4 border-gray-300" />
      <div class="flex justify-between">
        <p class="text-gray-500 text-sm">
          {{app.name}} {{app.version}}<br />
          Report issues on
          <a
            href="https://github.com/{{app.github}}/issues"
            class="link"
            target="_blank"
            rel="noopener noreferrer"
            ><i class="fab fa-github"></i> GitHub</a
          >
        </p>
        <p class="text-gray-500 text-sm">
          {% if user %} Logged in as {{userBadge(user)}} |
          <a href="{{url_for('logout')}}" class="link">Logout</a>
          {% endif %}
        </p>
      </div>
      {% if debug %}{{dump()}}{% endif %}
    </footer>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js"
      integrity="sha512-0fcCRl828lBlrSCa8QJY51mtNqTcHxabaXVLPgw/jPA5Nutujh6CbTdDgRzl9aSPYW/uuE7c4SffFUQFBAy6lg=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/plugin/utc.min.js"
      integrity="sha512-m00bfmYnAl3plEBlQfeQUhw/U2uvmw29V2+jxSWpAjankMWS+zAsjezbKWDEJNXqWq9o9qQZSOiA2RKDpa4D5w=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/plugin/relativeTime.min.js"
      integrity="sha512-BQqXM2ye6+98YyRQzE676pY2Bc4d3o/fBNlBQyKv2J9oKwp9K/4BVqFWIJBx1zKlAJ8M0PIJR5Yp51FsnSUynQ=="
      crossorigin="anonymous"
    ></script>
    <script>
      dayjs.extend(window.dayjs_plugin_utc);
      dayjs.extend(window.dayjs_plugin_relativeTime);
      const timestamps = document.querySelectorAll("time");
      timestamps.forEach(function (ts) {
        ts.setAttribute("title", ts.textContent);
        ts.textContent = dayjs(ts.textContent).utc().fromNow();
      });
    </script>
    {% block script %} {% endblock %}
  </body>
</html>
