{% include 'base/components/head_tag.html' %}
    <header>
    </header>
    <main
      id="main"
      class="{{ wide ? '' : narrow ? 'max-w-3xl lg:max-w-4xl xl:max-w-6xl' : 'container' }} mx-auto px-4"
    >
      i'm free
    </main>
    <footer
      class="{{ wide ? '' : narrow ? 'max-w-3xl lg:max-w-4xl xl:max-w-6xl' : 'container' }} mx-auto px-4 pb-4"
    >
      <hr class="my-4 border-gray-300 dark:border-gray-700" />
      <div class="md:flex justify-between">
      </div>
      {% if debug %}{{dump()}}{% endif %}
    </footer>
  </body>
</html>
