<!doctype html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link href="/assets/css/style.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous"/>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

	</head>
	<body class="font-sans">

		
		<div class="container mx-auto pt-4 px-2 md:px-0 max-w-screen-md">
			{% if not user %}
				
		{% else %}
			<p class="lead"></p>
			Welcome,
			{{user.displayName}}.
		</p>
	{% endif %}
	<hr class="mt-4">
	<footer>
		<p class="text-gray-500 text-lg">
			<small>{{app.name}}
				{{app.version}}</small>
		</p>
	</footer>
	{{dump()}}
</html></body></html></body></html></body></html>
