@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {



  body {
    --bg-height: 10px;
    background-image: linear-gradient(black,black), linear-gradient(#a8805f,#a8805f), linear-gradient(red,red), linear-gradient(orange,orange), linear-gradient(yellow,yellow), linear-gradient(green,green), linear-gradient(blue,blue), linear-gradient(purple,purple);
    background-size: calc(1 * (100% / 8)) var(--bg-height), calc(2 * (100% / 8)) var(--bg-height), calc(3 * (100% / 8)) var(--bg-height), calc(4 * (100% / 8)) var(--bg-height), calc(5 * (100% / 8)) var(--bg-height), calc(6 * (100% / 8)) var(--bg-height), calc(7 * (100% / 8)) var(--bg-height), calc(8 * (100% / 8)) var(--bg-height);
    background-repeat: no-repeat;
  }

  hr {
    @apply mb-4 border-gray-300 dark:border-gray-700 my-2;
  }

  .page-header {
    @apply text-4xl font-bold border-b border-gray-300 dark:border-gray-700 pb-2 mb-2;
  }

  .pixel-img {
    image-rendering: pixelated;
  }

  .badge {
    @apply rounded-sm px-1 py-0.5 mr-1 whitespace-nowrap font-bold relative;
  }
  .badge-danger {
    @apply bg-red-600 dark:bg-red-700 text-white;
  }
  .badge-warning {
    @apply bg-yellow-400 dark:bg-yellow-700 text-white;
  }
  .badge-info {
    @apply bg-blue-400 dark:bg-blue-700 text-white;
  }
  .badge-success {
    @apply bg-green-400 dark:bg-green-700 text-white;
  }

  .alert {
    @apply py-2 px-4 border-b border-l border-r border-gray-300 dark:border-gray-700 bg-gray-100 dark:bg-gray-800 rounded-b;
  }

  .alert.alert-success {
    @apply border-green-400 bg-green-200 text-green-800 dark:border-green-500 dark:bg-green-700 dark:text-green-100;
  }

  .alert.alert-info {
    @apply border-blue-400 bg-blue-200 text-blue-800 dark:border-blue-500 dark:bg-blue-700 dark:text-blue-100;
  }

  .alert.alert-danger {
    @apply border-red-400 bg-red-200 text-red-800 dark:border-red-500 dark:bg-red-700 dark:text-red-100;
  }

  .big-nav-btn {
    @apply relative border border-gray-300 dark:border-gray-700 rounded-lg p-4 text-center block hover:bg-gray-50 dark:hover:bg-gray-800
  }
  .big-nav-btn .title {
    @apply text-4xl font-extrabold tracking-wide uppercase;
  }
  .big-nav-btn .subtitle {
    @apply absolute block text-center inset-x-0 bottom-2 text-gray-500 tracking-widest uppercase text-xs font-bold;
  }

  .small-nav-btn {
    @apply hover:bg-gray-50 dark:hover:bg-gray-800 p-3 border border-gray-300 dark:border-gray-700 rounded-lg text-center font-bold flex items-center justify-between text-blue-500 hover:text-blue-700 dark:hover:text-blue-300;
  }

  .link {
    @apply text-blue-600 hover:text-blue-900 dark:text-blue-500 dark:hover:text-blue-100;
  }

  .link\:disabled {
    @apply text-blue-500 opacity-80 cursor-not-allowed;
  }

  .tippy-content .link {
    @apply text-blue-100 hover:text-blue-300;
  }

  .xdebug-var-dump {
    @apply overflow-x-auto;
  }

  table.table thead tr th {
    @apply p-2 border border-gray-300 dark:border-gray-700 bg-gray-50 dark:bg-gray-800 dark:text-gray-100;
  }

  th.sticky {
    @apply z-50 border-gray-300 dark:border-gray-700;
    box-shadow: 0px 1px 0 0px rgba(209, 213, 219, var(--tw-border-opacity));
  }

  table.table tbody tr td {
    @apply p-2 border border-gray-300 dark:border-gray-700;
  }

  table.datatable {
    @apply w-full;
  }

  table.datatable tbody tr td:first-child{
    @apply pl-4;
  }

  table.datatable tbody tr td {
    @apply pr-4 py-4;
  }

  table.datatable tbody tr td:last-child {
    @apply pr-0;
  }

  table.datatable tbody tr:nth-child(odd) td {
    @apply bg-gray-100 dark:bg-gray-800;
  }

  .autoComplete_selected {
    @apply text-blue-600 font-bold bg-gray-100;
  }

  .tr-success td,
  td.td-success {
    @apply text-green-900 bg-green-100 dark:bg-green-900 dark:text-green-100;
  }

  .tr-info td,
  td.td-info {
    @apply text-blue-900 bg-blue-100 dark:bg-blue-900 dark:text-blue-100;
  }

.tr-warning td,
  td.td-warning {
    @apply text-yellow-900 bg-yellow-100 dark:bg-yellow-900 dark:text-yellow-100;
  }

  .tr-danger td,
  td.td-danger {
    @apply text-red-900 bg-red-100 dark:bg-red-900 dark:text-red-100;
  }

  .tr-primary,
  td.td-primary td {
    @apply text-purple-900 bg-purple-100 dark:bg-purple-900 dark:text-purple-100;
  }

  .tr-inverse,
  td.td-inverse td {
    @apply text-white bg-black;
  }

  .text-success {
    @apply text-green-500;
  }
  .text-danger {
    @apply text-red-500;
  }
  .text-secondary {
    @apply text-gray-500;
  }
  .text-warning {
    @apply text-yellow-500;
  }
  .text-info {
    @apply text-blue-500;
  }

  .ticket-timeline {
    @apply border-r-4 border-gray-300 dark:border-gray-700 absolute top-0 bottom-5 left-4;
    z-index: -2;
  }


  .ticket:last-child {
    border-color: transparent;
  }

  .panel {
    @apply border block rounded mb-2 bg-white dark:bg-gray-800 border-gray-300 dark:border-gray-500;
    z-index: 0;
  }

  .panel-header {
    @apply text-lg p-2 border-b rounded-t bg-gray-100 dark:bg-gray-700;
  }
  
  .panel-body {
    @apply mx-5 py-2;
  }

  .panel:target {
    @apply ring-4 ring-indigo-300;
  }

  .pagination a{
    @apply px-3 py-2 text-blue-400 border-blue-400 border border-collapse hover:bg-blue-400 hover:text-white text-lg;
  }

  .panel-footer {
    @apply text-lg p-2 border-t rounded-b bg-gray-100 dark:bg-gray-700 ;
  }

  .pagination a:last-child {
    @apply rounded-r;
  }

  .pagination a:first-child {
    @apply rounded-l;
  }

  .btn {
    @apply rounded text-lg py-2 px-3 hover:ring-4;
  }

  .btn-danger {
    @apply bg-red-500 hover:bg-red-400  text-white;
  }

  .btn-success {
    @apply bg-green-500 hover:bg-green-400 text-white;
  }

  .btn-info {
    @apply bg-blue-500 hover:bg-blue-400 text-white;
  }

  .edits hr:last-child {
    @apply: hidden;
  }

  dl.striped div:nth-child(odd){
    @apply bg-gray-50 dark:bg-gray-700;
  }

  .panel dl.striped div:last-child {
    @apply rounded-b;
  }

  @keyframes added {
  from {
    background: #fff9c4;
  }

  to {
    background: transparent;
  }
}
.added {
  background: #fff9c4;
  animation-name: added;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.delta-mode {
  animation: panic 2s ease-in-out infinite;
}
@keyframes panic {
  60%,
  80% {
    box-shadow: 0px 0px 5px 2px #f00, inset 0px 0px 5px 2px #f00;
    border-color: #f00;
  }
  0%,
  50%,
  70%,
  100% {
    box-shadow: none;
  }
}
  
}

.form input,
.form textarea {
  @apply rounded border border-gray-300 dark:border-gray-700 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 py-1 px-2 leading-none text-sm dark:bg-gray-800
}

.hide {
    display: none;
}
.clear {
    float: none;
    clear: both;
}
.rating {
    width: auto;
    unicode-bidi: bidi-override;
    direction: rtl;
    position: relative;
}
.rating > label {
    display: inline;
    padding: 0;
    margin: 0;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: #000;
}
.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
    color: transparent;
}
.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: #FFD700;
}

.p-disabled {
  @apply opacity-75;
}

.pi-star:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f005";
}

.pi-star-o:before{
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f005";
}