<div class="md:flex items-center justify-between">
  <span class="font-extrabold tracking-wide uppercase" id="nav_branding">
    <a
      href="{{url_for('tgdb')}}"
      class="transition hover:text-gray-500 duration-700 ease-in-out text-4xl"
    >
      <i class="fas fa-user-secret text-red-800"></i>
      TEE GEE DEE BEE</a
    >
  </span>
  <nav class="text-lg font-bold">

  </nav>
  </div>
  <a href="{{url_for('home')}}" class="link text-sm"><i class="fas fa-home"></i> {{app.name}}</a>
  <div class="py-2 px-4 mt-4 bg-yellow-100 border border-yellow-300 text-yellow-900 rounded-lg">Information in TGDB should be considered <strong>TLP:://AMBER</strong>, unless otherwise noted.</div>
  <hr class="my-4 border-gray-300">
</div>