<div class="md:flex items-center justify-between mt-4">
	<a href="{{url_for('tgdb')}}" class="font-extrabold tracking-wide uppercase transition hover:text-gray-500 duration-700 ease-in-out text-xl md:text-2xl xl:text-4xl">
		<i class="fas fa-user-secret text-red-800"></i>
		TEE GEE DEE BEE</a>
	<div class="py-2 px-4 bg-yellow-100 border border-yellow-300 text-yellow-900 rounded-lg">Information in TGDB should be considered
		<strong>TLP:://AMBER</strong>, unless otherwise noted.</div>
</div>
<hr class="my-4 border-gray-300">
