{% extends 'base/site.html' %}
{% block title %}
	{{app.name}}
	{{app.version}}
{% endblock %}
{% block page %}
	<nav class="grid md:grid-cols-4 gap-2">
		<a href="{{url_for('tgdb.ticket.live')}}" class="small-nav-btn" target="_blank" rel="noopener noreferrer">
			<span>Live Ticket Feed</span>
			<i class="fas fa-circle text-red-500 animate-pulse"></i>
		</a>
	</nav>
{% include 'tgdb/components/ckey_search.html' %}

{% endblock %}

{% block script %}{% endblock %}
