    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.6/dayjs.min.js" integrity="sha512-bwD3VD/j6ypSSnyjuaURidZksoVx3L1RPvTkleC48SbHCZsemT3VKMD39KknPnH728LLXVMTisESIBOAb5/W0Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.6/plugin/utc.min.js" integrity="sha512-TU4ndEYOqql+pMXn14M8RDWsjjD+VPUA2RoWSuuFd+blPJW4oLrL1w1zAGdlrk4jsE2FEBH5CU3+fmogVYEqIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.6/plugin/relativeTime.min.js" integrity="sha512-7YYTlJ8OTdmDMztOy8q+zfRI/+y/IWnVp1oS4kiTKa+X2P09k/ObWUemEjtMoumu8v4A0s1NZu7WjfR+UxhRCQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script>
      dayjs.extend(window.dayjs_plugin_utc);
      dayjs.extend(window.dayjs_plugin_relativeTime);
      const timestamps = document.querySelectorAll("time");
      console.log(timestamps)
      timestamps.forEach(function (ts) {
        console.log(ts)
        console.log(dayjs.utc(ts.textContent).fromNow())
        ts.setAttribute("title", ts.textContent);
        ts.textContent = new dayjs(ts.textContent).utc().fromNow();
      });
      tippy("[title]", {
        content(reference) {
          const title = reference.getAttribute("title");
          reference.removeAttribute("title");
          return title;
        },
      });
      tippy(".popover", {
        content(reference) {
          const id = reference.getAttribute("data-template");
          const template = document.getElementById(id);
          return template;
        },
        allowHTML: true,
      });
      tippy(".roundPopover", {
        content(reference) {
          const id = reference.getAttribute("data-round-id");
          const template = document.getElementById("round-" + id + "-popover");
          template.style.display = "block";
          return template;
        },
        allowHTML: true,
        interactive: true,
      });
      {% if user.hasPermission('BAN') %}
      tippy(".userPopover", {
        content: "Loading...",
        onCreate(instance) {
          // Setup our own custom state properties
          instance._isFetching = false;
          instance._src = null;
          instance._error = null;
        },
        onShow(instance) {
          if (instance._isFetching || instance._src || instance._error) {
            return;
          }
          const ckey = instance.reference.getAttribute("data-target-ckey");
          instance._isFetching = true;
          fetch("/tgdb/player/" + ckey + "?format=popover")
            .then((response) => response.text())
            .then((html) => {
              parser = new DOMParser();
              html = parser.parseFromString(html, 'text/html')
              const timestamps = html.querySelectorAll("time");
              timestamps.forEach(function (ts) {
                ts.setAttribute("title", ts.textContent);
                ts.textContent = dayjs(ts.textContent).utc().fromNow();
              });
              instance.setContent(html.body.outerHTML)
            })
            .catch((error) => {
              instance._error = error;
              instance.setContent(`Request failed. ${error}`);
            })
            .finally(() => {
              instance._isFetching = false;
            });
        },
        onHidden(instance) {
          instance.setContent("Loading...");
          // Unset these properties so new network requests can be initiated
          instance._src = null;
          instance._error = null;
        },
        allowHTML: true,
        interactive: true,
        {% if debug %}
        hideOnClick: 'toggle',
        trigger: 'click',
        {% endif %}
      });
      {% else %}
      tippy("[data-rank]", {
        content(reference) {
          const title = reference.getAttribute("data-rank");
          reference.removeAttribute("data-rank");
          return title;
        },
      });
      {% endif %}
    </script>
    {% block script %} {% endblock %}
  </body>
</html>