<div class="md:flex items-center justify-between mt-4">
	<a href="{{url_for('rounds')}}" class="font-extrabold tracking-wide uppercase transition hover:text-gray-500 duration-700 ease-in-out text-xl md:text-2xl xl:text-4xl">
		<i class="fas fa-circle text-grey-400"></i>
		Rounds</a>
	<nav class="text-lg font-bold">
		<a href="{{url_for('citations')}}" class="link md:pl-3">Security Citations</a>
	</nav>
</div>
<hr class="border-gray-300 dark:border-gray-700 my-4">
